@page "/"
@inject NavigationManager NavigationManager
@using MyCheeseShop.Components.Account.Shared
@using MyCheeseShop.Context
@using MyCheeseShop.Model
@inject CheeseProvider CheeseProvider

<PageTitle>Home</PageTitle>

<h1>Mufleh's Cheese Shop</h1>

@if (cheeses is null)
{
    <p>Loading...</p>
}
else if (!cheeses.Any())
{
    <p> NO CHEESES FOUND!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
}




<div class="card h-100">
<div class ="row">
@foreach (var cheese in cheeses)
{
    <div class="col-md-4">
        <StoreItem Cheese =" cheese" />

    </div>
}
</div>
</div>









<div class="d-flex justify-content-between">
    <div>
        <button @onclick="GoToCart" class="btn btn-outline-primary">To Cart </button>
    </div>
    </div>






@* 
@foreach (var cheese in FilteredCheeses)
        {
            <div class="col">
                <StoreItem Cheese="cheese" />
            </div>
        }
        @if (!FilteredCheeses.Any())
        {
            <p> NO CHEESES FOUND!!!!!!!!!</p>
        } *@




@code 

{
    private string searchTerm = "";
    private IEnumerable<Cheese> cheeses;


    private IEnumerable<Cheese> filteredCheeses;
    private IEnumerable<Cheese> FilteredCheeses
    {
        get
        {
            return filteredCheeses.Where(GetSearchCriteria);
        }
        set
        {
            filteredCheeses = value;
        }
    }

    private bool GetSearchCriteria(Cheese cheese)
    {
        if (string.IsNullOrWhiteSpace(searchTerm)) return true;

        return cheese.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);
        cheese.Type.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);
        cheese.Description.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);
        cheese.Strength.Contains(searchTerm, StringComparison.OrdinalIgnoreCase);

    }

    protected override async Task OnInitializedAsync()
    {
        cheeses = await CheeseProvider.GetAllCheesesAsync();
        filteredCheeses = cheeses;

    }




    private void GoToCart()
    {
        NavigationManager.NavigateTo("/cart");
    }




}






